body {
    font-family: 'Signika', sans-serif;
    color: dimgrey;
    font-size: 18px;
}

#logo {
    text-transform: uppercase;
    color: black;
    font-size: 32px;
}

#logo2 {
    text-transform: uppercase;
    color: darkgray;
    font-size: 32px;
}


.menu a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    margin: 0 16px;
    line-height: 64px;
}

.links {
    float: right;
}

.menu img {
    width: 45px;
    vertical-align: middle;
}

.menu {
    margin: 0 24px;
    height: 64px;
    display: inline;
}

.logo {
    width: 150px;
    display: inline;
    height: 64px;
    line-height: 64px;
}

.button {
    display: none;
}

@media screen and (max-width: 954px) {
   
    .button {
        display: inline;
    }
    .word,
    .logo {
        display: none;
    }

    .links {
        float: none;
        display: flex;
        justify-content: space-between;
    }
}

/* Banner*/

.banner {
    display: flex;
    background-color: gainsboro;
}

.banner img {
    width: 60%;
    margin: 24px 32px;
}

.content {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.content h1 {
    font-size: 64px;
    margin: 32px 0;
}

button {
    background-color: dimgrey;
    width: 100%;
    border: none;
    font-size: 32px;
    padding: 8px 0;
    color: white;
    font-family: inherit;
    font-weight: 300;
    margin: 32px 0;
}

@media screen and (max-width: 954px) {

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner img {
        width: 100%;
        margin: 0;
    }

    .content {
        align-items: flex-start;
        margin: 32px 16px;
    }

    .content h1 {
        margin: 0;
    }

    button {
        width: 500px;
    }
}

/*Information section*/

.container {
    display: flex;
    margin: 32px 24px;
}

.info {
    width: 60%;
}

.info img {
    width: 100%;
}

.mini-info-container {
    display: flex;
    flex-flow: column;
    padding-left: 24px;
}

.mini-info {
    display: flex;
}

.big-img {
    width: 30%;
    padding: 0 16px 16px 16px;
}

.mini-info h3 {
    margin: 0;
}

.mini-info p {
    margin: 8px 0;
}

.info-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 65%;
}

.info-content a {
    text-decoration: none;
    color: dodgerblue;
}

#lecture {
    background-color: gainsboro;
}

#lecture img {
    padding: 16px;
}

.mobile-img {
    display: none;
}

@media screen and (max-width: 954px) {

    .info {
        display: none;
    }

    .mini-info-container,
    .mini-info,
    #lecture {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 0 16px;
        align-items: flex-start;
    }

    .mini-info {
        margin-bottom: 64px;
    }

    .info-content {
        padding: 16px;
    }

    .big-img {
        display: none;
    }
    
    .mobile-img {
        display: flex;
    }

    #lecture {
        padding: 0;
        margin-bottom: 0;
    }

}


/*Course*/

.course {
    background: rgba(0, 0, 0, 0.05);
    margin: 32px 0;
    padding: 32px 72px;
}

.course h1 {
    text-align: center;
}


.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mini-course {
    background-color: white;
    width: 30%;
    margin: 16px 16px;
}

.mini-course img {
    width: 100%;
}

.mini-course h3 {
    margin: 16px;
}

.mini-course p {
    margin: 16px;
}

@media screen and (max-width: 954px) {
    
    .course h1 {
        margin: 0 0 16px 0;
    }

    .course {
        background-color: white;
        padding: 0 16px;
    }

    .mini-course {
        background-color: gainsboro;
        width: 100%;
    }

    .mini-course h3 {
        padding: 16px 16px 24px 16px;
        margin-bottom: 8px;
    }

    .mini-course img,
    .mini-course p {
        display: none;
    }  
}


/*Thesis*/

#thesis {
    text-align: center;
}

.thesis {
    display: flex;
    margin-bottom: 32px;
    margin-left: 24px;
}

.thesis-video {
    width: 60%;
}

.thesis-video video {
    width: 100%;
}

.thesis-news {
    margin-left: 24px;
}

.thesis-news img {
    width: 35%;
}

.news {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.news img {
    margin: 16px;
}

#fisma {
    background-color: gainsboro;
}

/*footer*/

footer {
    display: inline;
    margin: 16px 24px;
}

footer a {
    float: right;
    text-decoration: none;
    margin: 0 16px;
    color: dimgrey;
}